*.pyc
*.pyo
.idea/codeStyleSettings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/dictionaries/thehnen.xml
.idea/modules.xml
.idea/workspace.xml
.idea/propti.iml
__pycache__
build/
propti.egg-info/
dist/
*.log